:root {
  --rp-c-brand: #4285f4 !important;
  --rp-c-brand-light: #5e97f6 !important;
  --rp-c-brand-dark: #3367d6 !important;
  --rp-font-family-base:
    "Iosevka", "Maple Mono", Menlo, "Cascadia Code", "PingFang SC",
    "Microsoft YaHei" !important;
  --rp-font-family-mono:
    "Iosevka", "Maple Mono", Menlo, "Cascadia Code", "PingFang SC",
    "Microsoft YaHei" !important;
}
